<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      html {
        font-size: 5px;
      }
      .rukovoditel {
        text-decoration: underline;
      }
      .main {
        margin-left: 10px;
      }
      div[style='display: -webkit-flex; margin-top: 20px'] {
        display: -webkit-flex;
        margin-top: 20px;
      }
      div[style='font-size: 5px'] {
        font-size: 5px;
      }
      div[style='margin-left: 20px'] {
        margin-left: 20px;
      }
      div[style='margin-top: 10px'] {
        margin-top: 10px;
      }
      div[style='display: -webkit-flex'] {
        display: -webkit-flex;
      }
      div[style='margin-left: 90px'] {
        margin-left: 90px;
      }
      div[style='width: 40px; margin-left: 2px'] {
        width: 40px;
        margin-left: 2px;
      }
      div[style='margin-left: 5px'] {
        margin-left: 5px;
      }
      div[style='width: 340px; margin-left: 20px'] {
        width: 340px;
        margin-left: 20px;
      }
      div[style='margin-top: 40px; display: -webkit-flex; position: relative;'] {
        margin-top: 40px;
        display: -webkit-flex;
        position: relative;
      }
      div[style='position: absolute; left: 0; top: -30px;'] {
        position: absolute;
        left: 0;
        top: -30px;
      }
      div[style='margin-left: 40px'] {
        margin-left: 40px;
      }
      div[style='margin-top: 3px'] {
        margin-top: 3px;
      }
      div[style='position: absolute; top: -15px; text-align: center'] {
        position: absolute;
        top: -15px;
        text-align: center;
      }
      div[style='position: relative; display: -webkit-flex; -webkit-justify-content: space-between;'] {
        position: relative;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
      }
      div[style='position: absolute'] {
        position: absolute;
      }
      div[style='position: absolute; right: 170px; top: 20px; display: -webkit-flex;'] {
        position: absolute;
        right: 170px;
        top: 20px;
        display: -webkit-flex;
      }
      div[style='margin-right: 20px; margin-top: 20px'] {
        margin-right: 20px;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <div style="display: -webkit-flex; margin-top: 20px">
        <div style="font-size: 5px">Сведения об использовании запасов, полученных от заказчика</div>
        <div style="margin-left: 20px">
          <hr style="width: 305px" />
          <div style="font-size: 5px; text-align: center">наименование, количество, стоимость</div>
        </div>
      </div>
      <div style="margin-top: 10px">
        <div>
          Приложение: Перечень документации, в том числе отчет(ы) о маркетинговых, научных
          исследованиях, консультационных и прочих услугах (обязательны при его
        </div>
        <div style="display: -webkit-flex">
          <div style="margin-left: 90px">
            <div>(их) наличии) на</div>
          </div>
          <div style="width: 40px; margin-left: 2px"><hr /></div>
          <div style="margin-left: 5px">страниц</div>
          <div style="width: 340px; margin-left: 20px"><hr /></div>
        </div>
      </div>
      <div style="margin-top: 40px; display: -webkit-flex; position: relative">
        <div>Сдал (Исполнитель)</div>
        <%- !reportdata.path_endpoint ? `
        <div style="position: absolute; left: 0; top: -80px">
          <img src="${reportdata.pechat}" width="110" height="100" />
        </div>
        ` : '' %>

        <div style="margin-left: 40px">
          <div class="rukovoditel">Руководитель</div>
          <div style="margin-top: 3px">должность</div>
        </div>
        <div>/</div>
        <div style="margin-left: 40px; position: relative">
          <%- !reportdata.path_endpoint ? `
          <div>
            <img
              src="${reportdata.rospis}"
              width="20"
              height="20"
              style="position: absolute; top: -15px; text-align: center"
            />
          </div>
          ` : '' %>

          <div>_____________</div>
          <div style="margin-top: 3px">подписm</div>
        </div>
        <div>/</div>
        <div style="margin-left: 40px">
          <div class="rukovoditel"><%-reportdata.rukovaditel%></div>
          <div style="margin-top: 3px">расшифровка подписи</div>
        </div>
        <div>/</div>
        <div style="margin-left: 40px">Принял (Заказчик)</div>
        <div style="margin-left: 40px">
          <div>_____________</div>
          <div style="margin-top: 3px">должность</div>
        </div>
        <div>/</div>
        <div style="margin-left: 30px">
          <div>_____________</div>
          <div style="margin-top: 3px">подпись</div>
        </div>
        <div style="margin-left: 30px">
          <div>_____________</div>
          <div style="margin-top: 3px">расшифровка</div>
        </div>
        <div>/</div>
      </div>
      <div
        style="
          position: relative;
          display: -webkit-flex;
          -webkit-justify-content: space-between;
          /* width: 800px; */
        "
      >
        <div style="position: absolute"></div>
        <div style="position: absolute; right: 170px; top: 20px; display: -webkit-flex">
          <div>Дата подписания (принятия) работ (услуг)</div>
          <div style="margin-left: 5px">
            <div><%-reportdata.avrDate%></div>
            <div>__________________________</div>
            <div style="margin-right: 20px; position: absolute; top: 10px; left: 0">М.П</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
