<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    
    <div style="font-size: 8px;">Сведения об использовании запасов, полученных от заказчика</div>
    <div style="margin-left: 70px; position: relative">
      <div class="div1"><%- reportdata.nameOfFirm %></div>
      <div class="div2"></div>
      <div class="polnoe">
        Полное наименование, адрес, данные о средствах связи
      </div>
    </div>
  </body>
</html>
