<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="display: -webkit-flex; margin-top: 20px">
      <div style="font-size: 8px">
        Сведения об использовании запасов, полученных от заказчика
      </div>
      <div style="margin-left: 20px">
        <hr style="width: 320px" />
        <div style="font-size: 8px; text-align: center">
          наименование, количество, стоимость
        </div>
      </div>
    </div>
  </body>
</html>
